:root {
  --primary-color: rgb(16, 145, 115);
  --header-height: 55px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  font-family: navfont;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@font-face {
  font-family: headerfont;
  src: url(./font/Grand_Hotel/GrandHotel-Regular.ttf);
}

@font-face {
  font-family: navfont;
  src: url(./font/Quicksand/Quicksand-VariableFont_wght.ttf);
}

/* header  */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  backdrop-filter: blur(13px);
  background-color: rgba(255, 255, 255, 1);
  -webkit-backdrop-filter: blur(40px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 16px;
  font-family: navfont;
  font-weight: 400;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
  z-index: 2;
}

.header-logo {
  text-decoration: none;
  color: #000;
  font-size: 3.2rem;
  font-family: headerfont;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.header-search__container {
  display: flex;
  width: auto;
  justify-content: flex-end;
  height: 40px;
}

.header-search {
  background-color: rgba(16, 145, 115, 0.07);
  border-radius: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  transition: all ease 0.4s;
  justify-content: flex-end;
}

.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 2px;
  width: 80%;
  height: 40px;
  animation: fadeOut ease 0.7s;
  font-size: 1.4rem;
  display: none;
  color: #000;
}

.header-search-btn:checked ~ .header-search .search-input {
  display: block;
  animation: fadeIn ease 0.7s;
}

.header-hotline {
  font-size: 1.5rem;
  background-color: var(--primary-color);
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid #fff;
  margin-left: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 0 0 1px rgb(66, 65, 65);
}

.navbar {
  margin-left: auto;
  margin-right: auto;

  font-weight: 600;
}

.nav-list {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 1.6rem;
}

.nav-list__item {
  list-style: none;
  padding: 0 10px;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  transition: all ease 0.4s;
  border-radius: 50px;
  margin: 0 2.5px;
}

.nav-list__item--active {
  border: 1px solid var(--primary-color);
  background-color: rgba(16, 145, 115, 0.07);
}

.nav-list__item:hover {
  background-color: rgba(16, 145, 115, 0.2);
  transition: all ease 0.4s;
}

.nav-list__item-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* footer  */

.footer {
  width: 100%;
  height: 250px;
  border-top: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  color: #fff;
  user-select: none;
}

.about {
  padding-top: 40px;
}

.about-us__header,
.about-header {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}
.about-description {
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: justify;
}
.about-us {
  padding-left: 60px;
}

.about-us__member-name,
.about-us__member-class,
.about-us__member-id {
  font-size: 1.5rem;
}

.about-us__member-class {
  margin: 7px 0;
}

.member-class-icon {
  margin-right: 5px;
}

.member-id-icon {
  margin-left: 1px;
  margin-right: 6px;
}

.member-name-icon {
  margin-left: 3px;
  margin-right: 8px;
}

.copyright {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 30px;
}

/* animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
