body {
  background: url(./img/leaves2.jpg);
}

/* content  */

.content {
  width: 100%;
  height: 1745px;
  margin-top: var(--header-height);
  padding-top: 50px;
}

.content-container {
  height: 60px;
}

.content-section {
  border-radius: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);

  font-family: navfont;
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px solid;
  backdrop-filter: blur(20px);
  color: #fff;
}

.content-address-section__header {
  font-size: 2.4rem;
  margin-right: 40px;
  margin-left: 10px;
}

.content-information-chart {
  margin-top: 20px;
}

.content-chart {
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
  height: 700px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px solid;
  backdrop-filter: blur(20px);
  color: #fff;
}

.content-chart-left {
  /* background-color: springgreen; */
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 28px;
}

.content-chart-left-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  transform: scale(1);
  transition: all ease 0.2s;
  width: 100%;
  padding: 12px 0 28px 0;
}

.content-chart-table-container {
  width: 100%;
  height: 87.7%;
  border-radius: 20px;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.content-chart-text-container {
  width: 100%;
  text-align: center;
  position: relative;
}

.content-chart-text-container::before {
  content: "";
  position: absolute;
  width: 93%;
  bottom: -2px;
  height: 2px;
  background-color: #ffffff5e;
  left: 50%;
  transform: translateX(-50%);
}
.content-chart-header h3 {
  font-size: 2.5rem;
  margin: 10px 0;
  line-height: 3rem;

  display: inline-block;
}

.content-chart-header {
  display: inline-block;
}
.content-chart-header-table,
.content-chart-header-container {
  display: flex;
  width: 92%;
  height: 40px;
  line-height: 26px;
  position: relative;
  align-items: center;
}

.content-chart-city {
  flex: 4;
  font-size: 2rem;
}

.content-chart-sum {
  flex: 2;
  text-align: center;
  font-size: 1.6rem;
}

.content-chart-today {
  flex: 2;
  text-align: center;
  font-size: 1.6rem;
}

.content-chart-dead {
  text-align: center;
  font-size: 1.6rem;

  flex: 1.5;
}

.content-chart-table {
  height: 100%;
  width: 92%;
  border-radius: 20px;
  border: 2px solid #ffffff5e;
  padding: 7px 20px 7px 20px;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.07);
}

.content-chart-table::-webkit-scrollbar {
  display: none;
}

.content-information-right {
  /* background-color: tomato; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px;
  justify-content: space-between;
}

.content-information-right-header {
  font-size: 2.5rem;
  font-weight: 600;
  position: relative;
  text-align: center;
}

.content-information-right-header::before {
  content: "";
  position: absolute;
  width: 263%;
  bottom: -20px;
  height: 2px;
  background-color: #ffffff5e;
  right: 50%;
  transform: translateX(50%);
}

.content-information-right-header--switch::before {
  width: 330%;
}

.content-information-right-text-container {
  height: 78%;
  margin-top: 18px;
  /* width: 118%; */
}
.content-information-right-text-container::-webkit-scrollbar {
  display: none;
}

.content-information-right-text-header {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 10px;
}

.content-information-right-text {
  font-size: 1.5rem;
  line-height: 2rem;
}

.content-information-right-btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  display: inline-block;
  height: 40px;
  width: 30%;
  line-height: 4rem;
  text-align: center;
  transition: all ease 0.3s;
  border-radius: 20px;
}

.content-information-right-btn:hover {
  background-color: #fff;
  color: #000;
  width: 100%;
}

.about-us__member {
  text-align: center;
}
