body {
  background: url(./img/leaves14.jfif);
  background-position: center;
}

/* content  */

.content {
  width: 100%;
  height: 1147px;
  margin-top: var(--header-height);
  padding-top: 50px;
}

.content-container {
  height: 60px;
}

.content-address {
  border-radius: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);

  font-family: navfont;
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px solid;
  backdrop-filter: blur(20px);
  color: #fff;
}

.content-address::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 60%;
  background-color: rgb(255 255 255 / 47%);
  left: 12%;
  z-index: 1;
  border-radius: 50px;
}

.content-address-current-location {
  font-size: 2.4rem;
  margin-right: 40px;
  margin-left: 10px;
}

.content-address-global {
  font-size: 1.8rem;
  margin-top: 4px;
}

.content-info-box {
}

.content-info-box__list {
  height: 200px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(0 0 0 / 9%);
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px solid #fff;
  backdrop-filter: blur(20px);
}

.content-info-box__item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-info-box__item-container {
  width: 80%;
  height: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* box-shadow: 0 0 20px rgb(0 0 0 / 9%); */
  top: 0;
  transition: all ease 0.3s;
  position: relative;
  color: white;
}

.content-info-box__item-container:hover {
  top: -5px;
  transition: all ease 0.2s;
  box-shadow: 0 0 40px rgba(0, 0, 0, 23%);
}

.content-info-box__item-container--red:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #f9e136;
}
.content-info-box__item-container--green:hover {
  background-color: rgba(255, 255, 255, 0.25);

  color: #52ff70;
}
.content-info-box__item-container--gray:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.content-info-box__item-header {
  font-size: 2rem;
}

.content-info-box__item-number {
  font-size: 1.8rem;
}

.content-information-container {
  margin-top: 20px;
}

.content-information {
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
  height: 600px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px solid;
  backdrop-filter: blur(20px);
  color: #fff;
}

.content-information-left {
  /* background-color: springgreen; */
  height: 100%;
  display: flex;
  justify-content: center;
}

.content-information-left-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
  transition: all ease 0.2s;
  cursor: pointer;
}
.content-information-left-container:hover {
  transform: scale(1.02);
  transition: all ease 0.2s;
}

.content-information-img-container {
  width: 85%;
  height: 63%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.content-information-img-item {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.content-information-text-container {
  width: 85%;
}
.content-information-header {
  font-size: 2rem;
  margin: 10px 0;
  line-height: 2.3rem;
  text-align: justify;
}
.content-information-text {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: justify;
}

.content-information-right {
  /* background-color: tomato; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 20px 28px 0;
  justify-content: space-between;
}

.content-information-right-header {
  font-size: 2.5rem;
  font-weight: 600;
  position: relative;
}

.content-information-right-header::before {
  content: "";
  position: absolute;
  width: 300%;
  bottom: -14px;
  height: 2px;
  background-color: #ffffff5e;
  right: 50%;
  transform: translateX(50%);
}

.content-information-right-text-container {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 78%;
  margin-top: 18px;
}
.content-information-right-text-container::-webkit-scrollbar {
  display: none;
}

.content-information-right-text-header {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 10px;
}

.content-information-right-text {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: justify;
}

.content-information-right-btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  display: inline-block;
  height: 40px;
  width: 30%;
  line-height: 4rem;
  text-align: center;
  transition: all ease 0.3s;
  border-radius: 20px;
}

.content-information-right-btn:hover {
  background-color: #fff;
  color: #000;
  width: 100%;
}

.about-us__member {
  text-align: center;
}
